<section class="contacto">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Estemos en contacto</h2>
          <hr class="line" align="left">
          <p>Escríbeme a través de este formulario para contarme de tu proyecto, hacer una cotización o simplemente saludarme. Completa los datos correctamente para así poder asesorarte de forma completa.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 rrss">
          <app-rrss></app-rrss>
        </div>
        <div class="col-md-8">
          <app-form></app-form>
        </div>
      </div>
    </div>
</section>