<section class="banner">
    <div class="container pd">
        <div class="row">
            <div class="col-md-8">
                <h2>Hablemos de tu proyecto</h2>
                <p>Cuéntanos lo que tienes en mente, rellena el formulario a continuación para saber que en que te podemos ayudar.</p>
            </div>
            <div class="col-md-4 text-center">
                <a href="" class="btn btn-outline-light btn-cotiza">Cotiza Aquí</a>
            </div>
        </div>
    </div>
</section>