<div class="container form">
  <div class="row">
    <div class="col-md-6">
      <input type="text" name="name" id="" placeholder="Nombre" class="form-control">
    </div>
    <div class="col-md-6">
      <input type="email" name="mail" id="" placeholder="Correo eléctronico" class="form-control">
    </div>
    <div class="col-md-6">
      <input type="text" name="tel" id="" placeholder="Teléfono" class="form-control">
    </div>
    <div class="col-md-6">
      <input type="text" name="Aunto" id="" placeholder="Asunto" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <textarea name="message" id="" cols="30" rows="9" placeholder="Mensaje" class="form-control"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <br>
      <div class="alert alert-danger hide" role="alert">
        Debes completar todos los datos
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-send">Enviar</button>
    </div>
  </div>
</div>