<div class="row table">
    <div class="item col-md-12 col-6">
        <div class="row">
            <div class="col-md-2">
                <i class="fa fa-whatsapp la-whatsapp"></i>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <span class="title">Teléfono/Wathasapp</span>
                    </div>
                    <div class="col-md-12">
                        <span class="content">+56 9 8492 3552</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item col-md-12 col-6">
        <div class="row">
            <div class="col-md-2">
                <i class="fa fa-send la-send"></i>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <span class="title">Email</span>
                    </div>
                    <div class="col-md-12">
                        <span class="content">hola@valadigital.cl</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item col-md-12 col-6">
        <div class="row">
            <div class="col-md-2">
                <i class="fa fa-facebook la-facebook"></i>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <span class="title">Facebook</span>
                    </div>
                    <div class="col-md-12">
                        <span class="content">@valadigital</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item col-md-12 col-6">
        <div class="row">
            <div class="col-md-2">
                <i class="fa fa-twitter la-twitter"></i>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <span class="title">Twitter</span>
                    </div>
                    <div class="col-md-12">
                        <span class="content">@valadigital</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item col-md-12 col-6">
        <div class="row">
            <div class="col-md-2">
                <i class="fa fa-linkedin la-linkedin"></i>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <span class="title">LinkedIn</span>
                    </div>
                    <div class="col-md-12">
                        <span class="content">@valadigital</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item col-md-12 col-6">
        <div class="row">
            <div class="col-md-2">
                <i class="fa fa-instagram la-instagram"></i>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <span class="title">Instagram</span>
                    </div>
                    <div class="col-md-12">
                        <span class="content">@valadigital</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>