<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">Han confiado en nosotros</h2>
        <hr class="line">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img src="https://cdn.shopify.com/s/files/1/2556/5900/files/logo_Chilito_250x.png?v=1511042287" alt="" class="img-fluid">
      </div>
      <div class="col-md-3">
          <img src="http://www.viveroscopequen.cl/img/logos/logo-viveros.png" alt="" class="img-fluid">
      </div>
      <div class="col-md-3">
          <img src="http://escriturasenlinea.cl/lib/img/logo.jpg" alt="" class="img-fluid">
      </div>
      <div class="col-md-3">
          <img src="http://www.nopuedopagar.cl/lib/img/logo.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>